<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72329061631-hbih3m7t9gik4l0i6l7iark2gsp90s2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72329061631-hbih3m7t9gik4l0i6l7iark2gsp90s2j</string>
	<key>API_KEY</key>
	<string>AIzaSyBjCZBAXNC6DOHhOieTzxs9JlJIFsWr6gg</string>
	<key>GCM_SENDER_ID</key>
	<string>72329061631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f7.fashionflow.fashionFlow</string>
	<key>PROJECT_ID</key>
	<string>fashion-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-flow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72329061631:ios:d1d87c47c6192b1fa8d8ca</string>
</dict>
</plist>